.Login-Container {
  margin: auto;
  max-width: 200px;
  background: #fafafa;
  color: #0557a9;
  border-radius: 10px;
  border: 2px solid #0557a9;
  padding: 20px;
}

.Login-Container label {
  color: #0557a9;
}

.Login-Container span {
  color: #fafafa;
}

.Login-Container a {
  color: #0557a9;
  font-size: 16px;
  display: block;
  padding-top: 3px;
}

.Login-Container a:hover {
  opacity: 0.7;
}
